<div *ngIf="id == 0">
  <h1>Ajouter un produit</h1>
  <input type="text" placeholder="Nom" [(ngModel)]="formNom" />
  <input type="text" placeholder="Texture" [(ngModel)]="formTexture" />
  <input type="text" placeholder="Grammage" [(ngModel)]="formGrammage" />
  <input type="text" placeholder="Couleur" [(ngModel)]="formCouleur" />
  <button (click)="addProduct()">Ajouter !</button>
</div>

<div *ngIf="id > 0" class="product-list">
  <div>
    <h1>Mon produit</h1>
    <ul>
      <li><span>Id</span> : {{ publicPaper.id }}</li>
      <li><span>Nom</span> : {{ publicPaper.nom }}</li>
      <li><span>Texture</span> : {{ publicPaper.texture }}</li>
      <li><span>Grammage</span> : {{ publicPaper.grammage }}</li>
      <li><span>Couleur</span> : {{ publicPaper.couleur }}</li>
    </ul>
  </div>
  <button *ngIf="!idEdit" (click)="idEdit = !idEdit" class="button">
    Modifier
  </button>
  <div *ngIf="idEdit">
    <h2>Modification du papier</h2>
    <div class="input-group">
      <input type="text" placeholder="Nom" [(ngModel)]="formNom" />
      <input type="text" placeholder="Texture" [(ngModel)]="formTexture" />
      <input type="text" placeholder="Grammage" [(ngModel)]="formGrammage" />
      <input type="text" placeholder="Couleur" [(ngModel)]="formCouleur" />
    </div>
    <button (click)="editProduct()" class="button">Valider</button>
    <button (click)="idEdit = !idEdit" class="button red">Annuler</button>
  </div>
</div>
<br /><br />
<a routerLink="/">Retour au début</a>
