<div *ngIf="id == 0" class="product-list">
  <h1 style="margin-bottom: 25px">Ajouter un produit</h1>
  <div class="input-group" [ngClass]="{ 'invalid-form': !verifForm }">
    <input type="text" placeholder="Nom" [(ngModel)]="formNom" />
    <input type="text" placeholder="Texture" [(ngModel)]="formTexture" />
    <input type="text" placeholder="Grammage" [(ngModel)]="formGrammage" />
    <input type="text" placeholder="Couleur" [(ngModel)]="formCouleur" />
  </div>
  <div>
    <button (click)="addProduct()" class="button">Ajouter !</button>
    <button (click)="_router.navigateByUrl('')" class="button red">
      Annuler
    </button>
  </div>
</div>

<div *ngIf="id > 0" class="product-list">
  <div>
    <h1>{{ publicPaper.nom }}</h1>
    <ul>
      <li><span>Id</span> : {{ publicPaper.id }}</li>
      <li><span>Nom</span> : {{ publicPaper.nom }}</li>
      <li><span>Texture</span> : {{ publicPaper.texture }}</li>
      <li><span>Grammage</span> : {{ publicPaper.grammage }}</li>
      <li><span>Couleur</span> : {{ publicPaper.couleur }}</li>
    </ul>
  </div>
  <div>
    <button *ngIf="!idEdit" (click)="clickOnEdit()" class="button">
      Modifier
    </button>
    <button *ngIf="!idEdit" routerLink="/produit/0" class="button">
      Créer
    </button>
  </div>
  <div *ngIf="idEdit">
    <h2>Modification du papier</h2>
    <div class="input-group" [ngClass]="{ 'invalid-form': !verifForm }">
      <input type="text" placeholder="Nom" [(ngModel)]="publicPaper.nom" />
      <input
        type="text"
        placeholder="Texture"
        [(ngModel)]="publicPaper.texture"
      />
      <input
        type="text"
        placeholder="Grammage"
        [(ngModel)]="publicPaper.grammage"
      />
      <input
        type="text"
        placeholder="Couleur"
        [(ngModel)]="publicPaper.couleur"
      />
    </div>
    <button (click)="editProduct()" class="button">Valider</button>
    <button (click)="onDeselect()" class="button red">Annuler</button>
  </div>
</div>
<br />
<a routerLink="/" *ngIf="id != 0" class="back-to-menu">Retour au menu</a>
